@page
@model Projeto2022.Pages.CadastrarSkillFuncionarioModel
@{
}



<form asp-page="/CadastrarSkillFuncionario" method="post" data-ajax="true" data-ajax-method="post"
      data-ajax-success="Sucesso" data-ajax-failure="Falha">

    @*<label asp-for="Nome" class="form-label">Cadastro de Skill no @Model.Nome</label>*@

    <h3>Cadastro de Skills @Model.Nome </h3>

  
@*          <div>
        <tr>
            <td> Editando o Funcionário: </td>
            <td>
                @Html.DropDownList("IDNOVO", (IEnumerable
                <SelectListItem>)TempData["IDNOVO"])
            </td>
        </tr>
    </div>*@

      <div>
    <label asp-for="Id" class="form-label" hidden>@Model.Id</label>
    <input asp-for="Id" class="form-control" type="hidden">
       

    </div>

          <div>
        <tr>
            <td> Selecione a Skill: </td>
            <td>
                @Html.DropDownList("MySkills", (IEnumerable
                <SelectListItem>)TempData["MySkills"])
            </td>
        </tr>
    </div>

    <br />

      <div>
        <tr>
            <td> Selecione a Senioridade: </td>
            <td>
                @Html.DropDownList("Senioridade", (IEnumerable
                <SelectListItem>)TempData["Senioridade"])
            </td>
        </tr>
    </div>

    <br />
    <div>
    <label asp-for="tempExp" class="form-label">Tempo de experiência em anos:</label>
        <input asp-for="tempExp" class="form-control">
        <span asp-validation-for="tempExp"></span>
    </div>

        <br />
    <div>
    <label asp-for="observacoes" class="form-label">Observações (caso tenha):</label>
        <input asp-for="observacoes" class="form-control">
        
    </div>

        <br />




    <br /><br />

    <button type="submit" class="btn btn-primary">Cadastrar</button>

</form>